.main {
	margin-top: 90px;
	border: 2px solid blue;
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 2%;
}

.main .content1 {
	width: 100%;
	height: 125px;
}

.content1 .genre {
	margin-left: 16%;
	margin-right: 15%;
}

.genre img {
	margin-top: 2%;
	margin-left: 3%;
}

.main .content2 {
	width: 100%;
	height: 500px;
}

.content2 .album {
	float: left;
	width: 60%;
	height: 100%;
}

#contents_title {
	font-size: 20px;
	text-decoration: none;
}

.album_contents {
	width: 100%;
	height: 93%;
}

.album_contents ul {
	list-style: none;
	font-size: 0px;
	padding: 0;
	width: 100%;
	height: 100%;
}

.album_contents ul li {
	float: left;
	border: 1px solid black;
	list-style: none;
	height: 197px;
	width: 188px;
	margin-bottom: 10px;
	margin-right: 15px;
}

.album_contents .album_artist_name {
	padding-top: 5px;
	position: absolute;
	height: 30px;
	width: 186px;
	text-align: center;
	font-size: 15px;
	color: white;
	background-color: rgba(51, 51, 51, 0.7);
	margin-top: -25px;
}

.album_contents .album_move {
	display: none;
}

.album_contents>ul>li:hover .album_artist_name {
	display: none;
}

.album_contents>ul>li:hover .album_move {
	display: block;
}

.album_move>a {
	background-color: rgba(51, 51, 51, 0.7);
	position: absolute;
	height: 195px;
	width: 186px;
	margin-top: -190px;
	font-size: 15px;
	text-align: center;
	color: white;
	padding-top: 75px;
}

.content2 .chart {
	float: right;
	width: 40%;
	height: 100%;
}

.content2 .chart ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.chart ul li {
	border-bottom:1px solid #333333;
	height: 34px;
	width: 507.313px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.chart   .chart_listover{
	border-bottom:1px solid #333333;
    height: 72.200px !important;
    width: 507.313px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}
.chart .chart_middle{
	display: inline-block;
	width: 60%;
}
#chart_contents {
	display: inline-block;
	vertical-align: middle;
}

.chart-btn {
	color: white;
	background: #333333;
}

.song {
	border-top: 0px !important;
	border: 2px solid #333333;
	height: 380px;
}

.main .content3 {
	width: 100%;
	height: 600px;
}
.content3 .concert{
	 width: 991px;
	 margin: auto;
}
.concert .concert_btn{
	width: 495px !important;
}
.con_form{
	height: 360px;
    border: 2px solid #333333;
    border-top:0px;
}
.con_form li img{
	width: 220px;
}
.content3 .concert ul{
	list-style: none;
	padding: 0px;
	 padding-left: 15px;
}
.content3 .concert ul li{
	margin-right:15px;
	float: left;
}
.concert .con_artist{
	    padding-top: 5px;
    position: absolute;
    height: 35px;
    width: 220px;
    text-align: center;
    font-size: 18px;
    color: white;
    background-color: rgba(51, 51, 51, 0.7);
    margin-top: -35px;
}
.concert .con_move{
	display:none;
	background-color: rgba(51, 51, 51, 0.7);
    position: absolute;
    height: 310px;
    width: 220px;
    margin-top: -310px;
    font-size: 17px;
    text-align: center;
    color: white;
    padding-top: 110px;
}
.concert > ul > li:hover .con_artist{
	display: none;
}
.concert > ul > li:hover .con_move{
	display: block;
}

.chart  p {
	font-size: 14px;
}
.gold{
    color: white !important;
    background-color: #ffc300 !important;
}