.main {
	margin-top: 90px;
	border: 2px solid blue;
	width: 100%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 2%;
}

.main .content1 {
	width: 100%;
	height: 125px;
}

.content1 .genre {
	margin-left: 16%;
	margin-right: 15%;
}

.genre img {
	margin-top: 2%;
	margin-left: 3%;
}

.main .content2 {
	width: 100%;
	height: 500px;
}

.content2 .album {
	float: left;
	width:  60%;
	height: 100%;
}

#contents_title {
	font-size: 20px;
	text-decoration: none;
}

.album_contents {
	width: 100%;
	height: 93%;
}

.album_contents ul {
	list-style: none;
	font-size: 0px;
	padding: 0;
	width: 100%;
	height: 100%;
}

.album_contents ul li {
    float: left;
    border: 1px solid black;
    list-style: none;
    height: 224px;
    width: 188px;
    margin-bottom: 10px;
    margin-right: 15px;
}

.album_contents a {
	text-decoration: none;
	font-size: 15px;
}

.content2 .chart {
	float: right;
	width: 40%;
	height: 100%;
}
.content2 .chart ul {
	padding: 0px;
	list-style: none;
}
.content2 .chart #chart_contents{
	display: inline-block;
}
.chart-btn{
	color: white;
	background: #333333;
}
.song{
	  border-top: 0px !important;
	border: 2px solid #333333;
}

.main .content3 {
	width: 100%;
	height: 600px;
	border: 2px solid yellow;
}
.chart  p{
font-size: 14px;	
}