<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.music.bee.dao.ArtistDAO">

<!-- INSERT -->
<insert id="artist_reply_send">
 INSERT INTO M_REPLY_ARTIST (REPLY_ARTIST_NO, ARTIST_NO, MEMBER_ID, REPLY, REG) 
 		VALUES (#{REPLY_ARTIST_NO},#{ARTIST_NO},#{MEMBER_ID},#{REPLY},SYSDATE)
</insert>

<!-- SELECT -->
<select id="artist_static" resultType="com.music.bee.dto.Artist_dto">
	SELECT * FROM M_ARTIST WHERE ARTIST_NO = '99999'
</select>

<select id="arti_detail" resultType="com.music.bee.dto.Artist_dto">
	SELECT (ARTIST_NO,ARTIST_NAME,IMG,ETC,AWARD_RECORD,ARTI_INFOTITLE,ARTI_INFOCONTENT) FROM M_ARTIST WHERE ARTIST_NO= 'ARTIST_NO'
</select>

<select id="arti_musicList" resultType="com.music.bee.dto.Music_dto">
	SELECT * FROM M_MUSIC WHERE ARTIST_NAME = 'ARTIST' 
</select>

<select id="arti_albumList" resultType="com.music.bee.dto.Album_dto">
	SELECT * FROM M_ALBUM WHERE ALBUM_NO ='123456'
	
</select>

<select id="artist_reply" resultType="com.music.bee.dto.ArtistComment_dto">
	SELECT * FROM M_REPLY_ARTIST 
</select>

<!-- UPDATE -->






<!-- DELETE -->



</mapper>